* {
  margin: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
:root {
  --black: #463f3a;
  --dark-gray: #8a817c;
  --light-gray: #bcb8b1;
  --lighter-gray: #f4f3ee;
  --pink: #e0afa0;
}
.navbar {
  background-color: var(--lighter-gray);
  display: flex;
  justify-content: space-between;
  padding: 8px 20px;
  align-items: center;
  position: sticky;
  top: 0;
}
#logo{
  color: var(--black);
  text-shadow: 0px 0px 1px black;
  font-size: 30px;
}
.nav-links {
  display: flex;
}
.nav-links li{
  margin: 0 20px;
  list-style: none;
}
.nav-links li a{
  text-decoration: none;
  color: var(--dark-gray);
  font-size: 18px;
}
.nav-links li a:hover{
  color: var(--black);
  font-size: 20px;
}
#nav-contact{
  background-color: var(--black);
  padding: 2px 10px;
  border-radius: 20px;
}
#nav-contact-link{
  color: var(--lighter-gray);
}