* {
  margin: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
:root {
  --black: #463f3a;
  --dark-gray: #8a817c;
  --light-gray: #bcb8b1;
  --lighter-gray: #f4f3ee;
  --pink: #e0afa0;
  --white: #ffffff;
}
body {
  text-align: center;
}
.navbar {
  border-bottom: 2px solid var(--lighter-gray);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
  position: sticky;
  top: 0;
}
#logo {
  color: var(--black);
}
.nav-links {
  display: flex;
  align-items: center;
}
.nav-links li {
  margin: 0 20px;
  list-style: none;
}
.nav-links li a {
  text-decoration: none;
  color: var(--black);
  font-size: 18px;
}
.nav-links li a:hover {
  color: var(--dark-gray);
}
#nav-contact {
  background-color: var(--pink);
  padding: 8px 16px;
  border-radius: 10px;
  border: 1px solid var(--black);
}
#nav-contact:hover {
  transform: translateY(-2px);
}
#nav-contact-link:hover {
  color: var(--black);
}

/* hero section */
.hero{
  margin: 100px 250px;
}
#hero-hello{
  margin-bottom: 30px;
  color: var(--black);
  text-align: left;
}
.hero h1{
  margin-bottom: 10px;
  color: var(--black);
  font-size: 50px;
  font-weight: 500;
}
.hero h2{
  color: var(--dark-gray);
  font-weight: 400;
}
.hero button{
  margin: 30px 0;
  border: none;
  background-color: var(--pink);
  padding: 20px 30px;
  border-radius: 10px;
  font-family: inherit;
  color: var(--black);
  font-weight: 500;
  font-size: 16px;
}
.hero button:hover{
  padding: 22px 32px;
}
.hero-links a{
text-decoration: none;
color: var(--black);
margin: 10px;
font-size: 16px;
}
.hero-links a:hover{
  color: var(--pink);
  font-size: 18px;
}
.hero-links a i{
  font-size: 24px;
}

/* about section */
.about{
  background-color: var(--lighter-gray);
  padding: 50px;
}